.App {
    text-align: center;
}

.section {
    padding: 1em;
    margin: 1em;
    border: 1px solid black;
}

.title {
    font-size: larger;
    font-weight: bolder;
}

.subTitle {
    font-size: large;
    font-weight: bold;
}